.contactBannerSection, .contactDetailSection{
	background:url('/assets/images/banner-bg.jpg') no-repeat center center fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:20px;
    min-height:300px;
    display: flex;
    align-items: center;
}
.contactDetailSection{
	background:url('/assets/images/contact-detail-bg.jpg') no-repeat center center fixed;
}
.contactBannerSection h2{
	color:#fff;
	font-family:'Titillium-Web-Bold', sans-serif;
	font-size:400%;
}
.addressSection .address{
	font-size:150%;
	text-align: left;
}
.addressSection .address h4{
	font-size:150%;
	color:;
}
.addressSection .address p{
	line-height: 40px;
}
.contactDetailSection{
	line-height: 40px;
	font-size:130%;
	font-family:'Titillium-Web-Regular', sans-serif;
	color:#fff;
}
.contactDetailSection h2{
	font-family:'Titillium-Web-Regular', sans-serif;
	color:#fff;
	margin-bottom:20px;
	font-size:230%;
}
.contactFormSection h2{
	color:#fff;
}
.contactFormSection{
	background:url('/assets/images/contact-form-bg-2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:20px;
}
.contactFormSection .contactForm{
	margin:0 auto;
	float:inherit;
	text-align: left;
	font-family:'Titillium-Web-Regular', sans-serif;
}
.contactFormSection .contactForm label{
	color:#fff;
	font-size:130%;
}
.contactFormSection .contactForm input, .contactFormSection .contactForm textarea{
	padding:.8em;
	height:auto;
	font-size:110%;
	resize:none;
	border-radius:0;
	color:#fff;
	background-color:rgba(255,255,255,0.1);
	border:1px solid #ccc;
}
.contactFormSection .mainBtn{
	margin: 0 auto;
	display: block;
}