<section class="mainSections downloadAppSection">
	<div class="container">
		<h2 class="mainHeading2">Download the App
			<span>Choose and book from 100+ services and track them on the go with the refundme.in App</span>
		</h2>
		<div class="row">
			<div class="col-xs-12 downloadAppBlock">
				<div class="col-xs-12 col-lg-4 downloadAppIcons">
					<a target="_blank" href="#" data-trackcategory="Home Page" data-trackaction="RefundMe India On Mobile" class="app-btn"><img src="assets/images/google-play.jpg" alt="RefundMe Google Play"></a>
					<a target="_blank" href="#" data-trackcategory="Home Page" data-trackaction="RefundMe India On Mobile" class="app-btn"><img src="assets/images/app-store.jpg" alt="RefundMe App Store"></a>
				</div>
				<div class="col-xs-12 col-lg-8">
					<span class="or-seprate screen-S-hidden"><span>OR</span></span>
					<ul class="rgt-block screen-S-hidden">
						<li>Send a link via SMS to Install the app</li>
						<li>
							<form id="mobileDealsform">
								<span class="input-mobile-no">
									<span class="country-code">+91</span>
									<input id="userMobile" type="tel" data-regexmsg="Enter your 10 digit mobile number..." data-regtype="mobile" data-errormsg="Please Enter Mobile Number" maxlength="10" placeholder="Enter your 10 digit mobile number" autocomplete="false" name="userMobile" class="required_field">
								</span>
								<button class="mob-submit-btn mainBtnWhite" type="submit">Text App Link</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row downloadAppThumbnail">
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail wildlifeSpecies">
	                <div class="description">
	                	<span>
	                		<span class="icons wildlifeSpeciesIcon"></span>
	                		<h4>
	                			8702
	                			<span>Wildlife species</span>
	                		</h4>
	                	</span>
	                </div>
	            </div>
	        </div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail arcticExperiences">
	                <div class="description">
	                	<span>
	                		<span class="icons arcticExperiencesIcon"></span>
	                		<h4>
	                			3077
	                			<span>Arctic experiences</span>
	                		</h4>
	                	</span>
	                </div>
	            </div>
	        </div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail nationalParks">
	                <div class="description">
	                	<span>
	                		<span class="icons nationalParksIcon"></span>
	                		<h4>
	                			3071
	                			<span>national parks</span>
	                		</h4>
	                	</span>
	                </div>
	            </div>
	        </div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail daysWild">
	                <div class="description">
	                	<span>
	                		<span class="icons daysWildIcon"></span>
	                		<h4>
	                			8973
	                			<span>days in the wild</span>
	                		</h4>
	                	</span>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</section>
