@import 'animations';
@import 'icons';
@import 'fonts';

a, .btn, .paymentType label, .donationAmount label{-webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family:'Titillium-Web-Regular', sans-serif!important;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
p{
  font-family: 'Titillium-Web-Regular', sans-serif;
  font-size:18px;
  line-height: 24px;
  margin-bottom:20px!important;
}
.bannerContainer, .sliderServicesSection, .ourServices, .mainBtn, .mainBtnWhite, .enquiryForm input{
  font-family:'Titillium-Web-Regular', sans-serif;
}

//Enquiry Form
.enquiryForm label{
  font-family:'Titillium-Web-Thin', sans-serif;
  font-size:110%;
  color:#c1bfbf;
}
.navbar-toggle .icon-bar{
  background-color:#ccc;
}
.heightlightedText{
  color:#f47822;
}
.top-buffer {
	margin-top:20px;
}
.mainSections{
  padding:20px 0 100px;
}
.dashboardBody{
  .mainHeading{
    color:#428bca;
  }
}
.bodyContainer{
  text-align: center;
  .container{
    padding:0 20px;
  }
  .mainHeading{
    font-family: 'Titillium-Web-Regular', sans-serif;
    font-weight: 500;
    font-size:300%;
    position: relative;
    padding:0 0 15px;
    margin-bottom:40px;
    text-transform:uppercase;
    &:after{
      content:'';
      width:150px;
      height:1px;
      background:#adabab;
      position:absolute;
      left:0;right:0; bottom:0; margin:auto;
    }
  }
  .mainHeading2{
    font-family: 'Titillium-Web-Regular', sans-serif;
    font-weight: 500;
    position: relative;
    padding:0 0 20px;
    font-size:300%;
    margin-bottom:40px;
    text-transform:uppercase;
    span{
      display:block;
      text-transform:capitalize;
      font-size:60%;
      margin-top:20px;
      &:after{
        content:'';
        width:auto;
        max-width:20%;
        height:4px;
        background:#adabab;
        position:absolute;
        left:0;right:0; bottom:0; margin:auto;
      }
    }
    &:after{
      content:'';
      width:auto;
      max-width:70%;
      height:1px;
      background:#adabab;
      position:absolute;
      left:0;right:0; bottom:0; margin:auto;
    }
  }
}

//Flight Enquiry Form
.enquiryForm{
  .alert{
    padding:0;
    margin:0;
    text-align:left;
    color:#fff;
    background:rgba(195,11,11,.6);
    position:absolute;
    font-size:90%;
    bottom:0;
    border-radius:0;
    height:0px;
    width:100%;
  }
  .btn-default{
    background-color:transparent;
  }
  .btn{
    border-radius:0;
    padding:10px 50px;
    font-size:150%;
    color:#fff;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-bottom: 1px solid #ccc;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

//Buttons
.mainBtn, .mainBtnWhite{
  height: auto;
  width: auto;
  padding:10px 50px;
  margin: 20px auto;
  display:inline-block;
  white-space:nowrap;
  overflow:hidden;
  font-size:150%;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  box-shadow:0px 0 0 #31708f  inset;
}
.mainBtn{
  background: transparent;
  color:#fff;
  border:1px solid #fff;
}
.mainBtn:hover{
    box-shadow:500px 0 0 #31708f inset;
    //border:1px solid #31708f;
    text-decoration:none;
    color:#fff!important;
}
.mainBtnWhite{
  background: #f1f1f1;
  color:#787878;
  border:2px solid #7f7f7f;
}
.mainBtnWhite:hover{
  box-shadow:500px 0 0 #31708f inset;
  border:2px solid #31708f;
  text-decoration:none;
  color:#fff;
}


//sections
.highlightedSection{
  background:#0eadca;
  padding:30px 0;
  color:#fff;
  font-size:150%;
  font-family:'Titillium-Web-Regular', sans-serif;
}
.section{
  padding:30px 20px;
  h2{
    color:#323232;
  }
}

.skewedContentBlock{
  .container{
    padding:0 20px 70px;
  }
  .skewedBox {
    background:$skewed-bg-color;
    padding: 50px 80px 50px 50px;
    transform: skew(-10deg, 0deg) translateY(0);
    display:flex;
    align-items:center;
    .form {
      padding: 50px 20px;
      transform: skew(10deg, 0deg);
      font-family:'Titillium-Web-Regular', sans-serif;
      width:100%;
      max-width:600px;
    }
    .subHeadingInnerPage{
      padding:0;
      color:#f47822;
    }
  }
}

//Start Main Navigation
.mainNavigation, .dashBoardHeader{
  background:#fff;
  @include box-shadow(0px, 2px, 5px, 0px, rgba(0, 0, 0, 0.2));
  padding:20px 0;
}
.mainNavigation, .dashBoardHeader {
  .active{
    a{
      color: #10afd4;
      &:after{
        content: '';
        display: block;
        margin-top:10px;
        width: 100%;
        height: 2px;
        background: #10afd4;
        transition: width .3s;
      }
    } 
  }
  li {
    a{
      font-family:'Titillium-Web-Light';
      color:#5d5c5c;
      font-size:130%;
      &:hover, &:focus{
        color:#10afd4;
        background-color:transparent!important;
        &:after{
          width: 100%;
        }
      }
    }
  }
}
.dashBoardHeader{
  .navbar-brand{
    padding:0 15px;
  }
}

//Slider Form
.bannerContainer h2{
  color:#fff;
  margin: auto;
}
.bannerContainer input{
  background:transparent;
  border:none;
  border-bottom:1px solid #ccc;
}
.descriptionContent{
  color:#fff;
  margin-top:50px;
  margin-bottom:20px;
}
.descriptionContent h3{
  text-transform: uppercase;
  font-size: 250%;
}
.bannerContainer input {
  display: block;
  width: 100%;
  height: 3em;
  padding: 16px 0px;
  border: 0;
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  border-bottom:1px solid #ccc;
  color: #212121;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.2s ease-in-out;
}

.enquiryForm fieldset {
  position: relative;
  margin:15px 0 0;
}
.enquiryForm fieldset:first-child{
  margin-top:0;
}
.enquiryForm fieldset:first-child input {
  border-radius: 4px 4px 0 0;
}
.enquiryForm fieldset:last-child input {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
.enquiryForm label {
  position: absolute;
  top: 25px;
  left: 0px;
  color: #c1bfbf;
  width:100%;
  text-align: left;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.form-css-label input[data-empty="false"], .form-css-label input:valid, .form-css-label input:focus {
  padding: 40px 8px 10px 0;
  color:#fff;
  font-size:18px;
}
.form-css-label input:focus {
  outline: 0;
  color:#fff;
  font-size:18px;
}
.form-css-label input[data-empty="false"] + label, .form-css-label input:valid + label, .form-css-label input:focus + label {
  color: #ececec;
  font-weight: 500;
  font-size: 12px;
  -webkit-transform: translate3d(0, -15px, 0);
          transform: translate3d(0, -15px, 0);
}
.enquiryForm input[type=date]:invalid::-webkit-datetime-edit {
    visibility: hidden;
}

//Services
.ourServicesSection{
  background:url('/assets/images/our-services-bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:20px;
}
.ourServices{
  font-size:90%;
  text-align:center;
}
.ourServices .discription h4{
  font-size:150%;
  color:#000;
  font-weight: 700;
  margin-top:0;
}
.ourServices .discription h4 span{
  display: block;
  font-size:80%;
  color:#7f7f7f;
  font-style: italic;
  margin-top:10px;
}
.servicesIcon{
  width:91px;
  height:91px;
  display: flex;
  align-items: center;
  margin:0 auto;
}
.discription{
  text-align:center;
  padding-right:20px;
  padding-left:0;
}
.delayForcast{
  background:#252525;
}
.cabServicesBg, .journeyChecklist, .baggageInformation{
  background:#5b5da8;
}
.assistanceServices, .expenseTracker{
  background:#f68f40;
}
.aboutAirport{
  background:#78c597;
}
.journeyChecklist, .weatherForecast{
  background:#0eadca;
}
.preBookMeal{
  background:#f17776;
}
@media only screen and (min-width:1199px){
  .discription{
    text-align:justify!important;
  }
  .ourServices{
    padding:30px 0;
  }
  .ourServices:nth-child(3n+4){
    clear:left;
  }
}

//Start Vendor's
.vendorLoggedIn{
  .mainFooterTabsSection{
    display:none;
  }
  .mainFooterSection{
    .footer-top{
      display:none;
    }
  }
  .mainNavigation{
    display:none;
  }
  .footer-bottom{
    border-top:1px solid #ccc;
    padding:0!important;
  }
}
.vendor-dashboard{
  padding:0;
  margin-top:-20px;
}
.tabsInline{
  margin:0 auto;
  width:auto!important;
  display:inline-table!important;
  border:1px solid #ccc;
  @include border-radius(5px);
  a{
    @include border-radius(0px!important);
    border:none;
  }
}



@media only screen and (min-width:1199px){
  .bannerContainer h2{
    /*position:absolute;
    left:0;right:0;top:50px;
    z-index:1;*/
  }
  .descriptionContent{
    margin-bottom:0;
  }
  .bannerContainer{
    height:72vh;
  }
}

@media only screen and (min-width:1200px){
  .skewedBox {
    height:72vh;
  }
  .skewedContentBlock{
    position:absolute!important;
    right:-80px;
    top:0;
  }
  section .container, nav .container{
    width:1440px;
  }
}
@media only screen and (max-width:1199px){
  .skewedContentBlock{
    margin-top:20px;
  }
  .skewedContentBlock .skewedBox{
    transform: skew(0deg, 0deg) translateY(0);
    padding:20px;
  }
  .skewedContentBlock .skewedBox .form{
    padding: 20px;
    transform: skew(0, 0deg);
    max-width:inherit;
  }
  .mainFooterTabsSection .footer1, .mainFooterSection .footer1{
    overflow-x:scroll;
    width:100%;
  }
  .ten-columns{
    width:max-content;
  }
  .ten-columns [class^=col-]{
    width:20%;
    float:left;
  }
  .mainFooterSection .footer1{
    padding:0 50px;
  }
  .mainFooterSection .footer1 .ten-columns .col-lg-7{
    width:auto;
    max-width:50%;
  }
  .copyRightContent{
    display:block;
    text-align:center;
    margin-top:20px;
  }
}