<nav class="navbar navbar-fixed-top mainNavigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" id="ChangeToggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <div id="navbar-hamburger">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</div>
		    <div id="navbar-close" class="hidden">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
      </button>
      <a class="navbar-brand refundMeLogo" href="/home"><img src="assets/images/logo.png" alt="Refundme India Services"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse ">
      <ul id="customNav" class="nav navbar-nav navbar-right menu-one">
        <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/about">Services</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/know-your-rights">Know Your Rights</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/mission">Blog</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/contact-us">Contact us</a></li>
        <li *ngIf="!env.isLoggedIn" [routerLinkActive]="['active']"><a href="#" id="loginBtn" data-toggle="modal" data-target="#modalLogin">User</a></li>
        
        <li *ngIf="!env.isVendorLoggedIn" [routerLinkActive]="['active']"><a routerLink="/venders">Vender</a></li>
        <li *ngIf="env.isVendorLoggedIn" [routerLinkActive]="['active']"><a routerLink="/vender-dashboard/welcome">Vender</a></li>


        <li *ngIf="env.isLoggedIn"  [routerLinkActive]="['active']"><a routerLink="/myaccount">My Account</a></li>
        <li *ngIf="env.isLoggedIn"  [routerLinkActive]="['active']"><a (click)="logout()" href="#">Logout</a></li>
        <!--<li [routerLinkActive]="['active']"><a routerLink="/Login-Signup" id="loginBtn" data-toggle="modal" data-target="#modalLogin">Log in / Register</a></li>-->
        <li><a href="#search" id="searchIcon"><i class="fa fa-search"></i></a></li>
      </ul>

    </div>
  </div>
    <!--/.nav-collapse -->
</nav>
<div id="search">
  <button type="button" class="close">×</button>
  <form name="searchForm" action="/home">
      <input type="search" value="" placeholder="type keyword(s) here" />
      <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<!--Login/Signup Popup Modal-->
<!--modal start-->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginPopup" aria-hidden="true">
  <div class="loginPopup">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!--<div class="modal-header">
         <h5 class="modal-title" id="modalLoginPopup">Our Services</h5> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
        <div class="modal-body registerDiv">
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                        <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Login">
                            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                              <div class="form-group">
                                <label for="email" class="width-100">Email address
                                  <input formControlName="email" id="email" type="email" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Enter email">
                                </label>
                                <div class="alert p-0" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">{{ emailAlert }}</div>
                              </div>
                              <div class="form-group">
                                <label for="password" class="width-100">Password
                                  <input formControlName="password" id="password" type="password" class="form-control form-control-lg" placeholder="Password">
                                </label>
                                <div class="alert p-0" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">{{ passwordAlert }}</div>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Check1" formControlName="rememberMe">
                                <label class="form-check-label" for="Check1">Remember me</label>
                              </div>
                              <h5 class="text-center">
                                <input type="submit" class="btn btn-default button expanded loginSignupBtn" value="Login" [disabled]="!loginForm.valid">
                              </h5>
                              <h5 class="text-center">
                                <a href="#0" class="frgtPswrd"> Forgot your password? </a>
                              </h5>
                            </form>
                        </div>
                        <div class="tab-pane" id="Registration">
                            <form [formGroup]="signupForm" (ngSubmit)="registration(signupForm.value)">
                              <div class="form-group">
                                <label for="" class="width-100">Username
                                  <input formControlName="Username" type="text" class="form-control form-control-lg" placeholder="Username">
                                </label>
                                <div class="alert p-0" *ngIf="!signupForm.controls['Username'].valid && signupForm.controls['Username'].touched">{{ UsernameAlert }}</div>
                              </div>
                              <div class="form-group">
                                <label for="" class="width-100">Email
                                  <input formControlName="Email" type="email" class="form-control form-control-lg" placeholder="Email">
                                </label>
                                <div class="alert p-0" *ngIf="!signupForm.controls['Email'].valid && signupForm.controls['Email'].touched">{{ EmailAlert }}</div>
                              </div>
                              <div class="form-group">
                                <label for="" class="width-100">Password
                                  <input formControlName="Password" type="password" class="form-control form-control-lg" placeholder="Password">
                                </label>
                                <div class="alert p-0" *ngIf="!signupForm.controls['Password'].valid && signupForm.controls['Password'].touched">{{ PasswordAlert }}</div>
                              </div>
                              <div class="form-group">
                                <label for="" class="width-100">Confirm Password
                                  <input formControlName="ConfirmPassword" type="text" class="form-control form-control-lg" placeholder="Confirm Password">
                                  <div class="alert p-0" *ngIf="!signupForm.controls['ConfirmPassword'].valid && signupForm.controls['ConfirmPassword'].touched">{{ ConfirmPasswordAlert }}</div>
                                </label>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Check2" formControlName="Terms">
                                <label class="form-check-label" for="Check2"> I agree to the <a href=""> Terms </a></label>
                                <div class="alert p-0" *ngIf="!signupForm.controls['Terms'].valid && signupForm.controls['Terms'].touched">{{ TermsAlert }}</div>
                              </div>
                              <h5 class="text-center">
                                <input type="submit" class="btn btn-default button expanded loginSignupBtn" value="Create Account" [disabled]="!signupForm.valid">
                              </h5>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
<!--modal end-->