/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .dashboardSidebar {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0;
    max-height:500px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.dashboardSidebarMenu {
  text-align: left;
  list-style: none;
  margin:0;
  padding:0;
}
.dashboardSidebarMenu li{
  margin:0;
  padding:0;
}
.dashboardSidebarMenu li a {
  padding:20px 30px;
  display: block;
  text-decoration: none;
}
.dashboardSidebarMenu li a:hover,
.dashboardSidebarMenu li a:focus{
  background:#ccc;
  color:#000;
}
.dashboardSidebarMenu li.active a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
