<section class="vender-dashboard">
	<div class="row">
		<div class="col-sm-2 dashboardSidebar">
			<ul class="dashboardSidebarMenu">
				<li [routerLinkActive]="['active']"><a routerLink="./services">Services/Menu</a></li>
				<li [routerLinkActive]="['active']"><a routerLink="./manage-bookings">Manage Bookings</a></li>
				<li [routerLinkActive]="['active']"><a routerLink="./my-staff">My Staff</a></li>
				<li [routerLinkActive]="['active']"><a routerLink="./invoicing">Invoicing</a></li>
				<li [routerLinkActive]="['active']"><a routerLink="./reporting">Reporting</a></li>
				<li [routerLinkActive]="['active']"><a routerLink="./system-settings">System Settings</a></li>
			</ul>
		</div>
		<div class="col-sm-10 main text-left">
			<router-outlet></router-outlet>
		</div>
	</div>
</section>

