.thumbnail{
	padding: 50px 20px;
    min-height: 300px;
    max-height: 250px;
    display: grid;
    align-items: center;
    text-align: center;
    border:none;
}
.thumbnail img{
	width:100%;
}
@media only screen and (max-width:1199px){
	.pressRleaseThumbnailBlock{
		overflow: scroll;
		width:100%;
	}
	.thumbnail{
		min-height: auto;
	}
	.pressRleaseThumbnail{
		overflow: scroll;
		width:max-content;
	}
	.pressRleaseThumbnail [class^=col-]{
		width:auto;
	}
}