<section class="mainSections pressReleaseSection">
	<div class="container">
		<h2 class="mainHeading2">Hot Off The Press
			<span>lorem ipsum dolur sir amet lorem ipsum dolur sir amet lorem ipsum dolur</span>
		</h2>
		<div class="pressRleaseThumbnailBlock">
			<div class="row pressRleaseThumbnail">
				<div class="col-xs-6 col-sm-6 col-lg-3">
		            <div class="thumbnail">
		                <div class="description">
		                	<span>
		                		<a href="#" title="Business Insider"><img src="assets/images/press-release/business-insider.png" alt="business-insider"></a>
		                	</span>
		                </div>
		            </div>
		        </div>
				<div class="col-xs-6 col-sm-6 col-lg-3">
		            <div class="thumbnail">
		                <div class="description">
		                	<span>
		                		<a href="#" title="BW Disrupt"><img src="assets/images/press-release/bw-disrupt.png" alt="BW Disrupt"></a>
		                	</span>
		                </div>
		            </div>
		        </div>
				<div class="col-xs-6 col-sm-6 col-lg-3">
		            <div class="thumbnail">
		                <div class="description">
		                	<span>
		                		<a href="#" title="Nav Bharat Times"><img src="assets/images/press-release/nav-bharat-times.png" alt="Nav Bharat Times"></a>
		                	</span>
		                </div>
		            </div>
		        </div>
				<div class="col-xs-6 col-sm-6 col-lg-3">
		            <div class="thumbnail">
		                <div class="description">
		                	<span>
		                		<a href="#" title="The Economic Times"><img src="assets/images/press-release/et.png" alt="The Economic Times"></a>
		                	</span>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</div>
</section>