<section class="mainSections section bannerContainer">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-lg-7">
			<h2>Thinking of Flying, Think of refundme.in </h2>
			<div class="descriptionContent">
				<span class="icons clockIconLarge"></span>
				<h3>Special Assistance Services</h3>
				<p>Being a designer goes a step further than trying to evoke emotion, it’s trying to make a reaction.</p>
				<a href="#" class="mainBtn">Know More</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-5 skewedContentBlock">
			<div class="enquiryForm skewedBox">
				<div class="form">
					<div class="row">
						<div class="col-xs-12">
							<h2>Lorem ipsum is simply dummy text</h2>
						</div>
					</div>
					<app-flight-enquiry></app-flight-enquiry>
				</div>
				<!--<div class="form">
					<form action="#" class="form-label form-css-label" ngNativeValidate>
					    <fieldset>
					      <input id="departureAirport" name="departureAirport" type="text" autocomplete="off" required />
					      <label for="departureAirport">Departure Airport </label>
					      <span class="icons enquiryFormIcon depatureAirport"></span>
					    </fieldset>
					    <fieldset>
					      <input id="arrivalAirport" name="arrivalAirport" type="text" autocomplete="off" required />
					      <label for="arrivalAirport">Arrival Airport</label>
					      <span class="icons enquiryFormIcon arrivalAirport"></span>
					    </fieldset>
					    <fieldset>
					      <input id="flightNumber" name="flightNumber" type="text" autocomplete="off" required />
					      <label for="flightNumber">Flight no</label>
					      <span class="icons enquiryFormIcon flightNumber"></span>
					    </fieldset>
					    <fieldset>
					      <input id="date" name="date" type="date" autocomplete="off" required />
					      <label for="date">Date</label>
					      <span class="icons enquiryFormIcon depatureDate"></span>
					    </fieldset>
					    <button type="submit" class="mainBtn">Submit</button>
					</form>
				</div>-->
			</div>
		</div>
	</div>
</section>