<section class="sliderServicesSection">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-lg-2 service">
			<span class="icons delayPrediction"></span>
			<h3>Delay Prediction</h3>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2 service">
			<span class="icons claimCompensation"></span>
			<h3>Claim Compensation</h3>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2 service">
			<span class="icons airportAssitance"></span>
			<h3>Airport Assistance</h3>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2 service">
			<span class="icons manageTrip"></span>
			<h3>Manage Trip</h3>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2 service">
			<span class="icons cabServices"></span>
			<h3>Cab Services</h3>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2 service">
			<span class="icons airlineAssistance"></span>
			<h3>Airline Asistance</h3>
		</div>
	</div>
</section>