<section class="mainSections ourPartnersSection">
	<div class="container">
		<h2 class="mainHeading2">Our Partners
			<span>Mastering the art of perfect adventure for 10+ years in the wild?</span>
		</h2>
		<div class="row thumbnailBlock">
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail">
	              <a href="#" class="">
	                <div class="caption">
	                	<div class="description">
	                    	<span><span class="icons claimCompensation"></span> Cab Services</span>
	                    </div>
	                </div>
	                <img src="assets/images/our-partners/1.jpg" alt="..." class="">
	               </a>
	            </div>
	        </div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail">
	              <a href="#" class="">
	                <div class="caption">
	                	<div class="description">
	                    	<span><span class="icons claimCompensation"></span> Cab Services</span>
	                    </div>
	                </div>
	                <img src="assets/images/our-partners/2.jpg" alt="..." class="">
	               </a>
	            </div>
	        </div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail">
	              <a href="#" class="">
	                <div class="caption">
	                	<div class="description">
	                    	<span><span class="icons claimCompensation"></span> Cab Services</span>
	                    </div>
	                </div>
	                <img src="assets/images/our-partners/3.jpg" alt="..." class="">
	               </a>
	            </div>
	        </div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
	            <div class="thumbnail">
	              <a href="#" class="">
	                <div class="caption">
	                	<div class="description">
	                    	<span><span class="icons claimCompensation"></span> Cab Services</span>
	                    </div>
	                </div>
	                <img src="assets/images/our-partners/4.jpg" alt="..." class="">
	               </a>
	            </div>
	        </div>
		</div>
		<a class="mainBtnWhite" href="#">View All Partners</a>
	</div>
</section>