<section class="mainSections ourServicesSection">
	<div class="container">
		<h2 class="mainHeading">Our Services</h2>
		<div class="row justify-content-center pt-5">
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		        <div class="col-xs-12 col-sm-3">
		        	<div class="servicesIcon delayForcast">
		            	<span class="icons delayPrediction"></span>
		            </div>
		        </div>
		        <div class="col-xs-12 col-sm-9">
		        	<div class="discription row">
				        <h4>Delay Forecast
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
			    </div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon cabServicesBg">
			            <span class="icons claimCompensation"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>Cab services
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon assistanceServices">
			            <span class="icons airportAssitance"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>Special Assistance Services
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon aboutAirport">
			            <span class="icons manageTrip"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>About The Airport
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon journeyChecklist">
			            <span class="icons cabServices"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>Journey To Do &amp; Checklist
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon preBookMeal">
			            <span class="icons airlineAssistance"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>Pre-book your meal
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon baggageInformation">
			            <span class="icons baggageInformationIcon"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>Baggage Belt Information
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon expenseTracker">
			            <span class="icons expanseTrackerIcon"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>Expense Tracker
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		    <div class="col-xs-12 col-sm-6 row-item col-lg-4 ourServices">
		    	<div class="col-xs-12 col-sm-3">
			        <div class="servicesIcon weatherForecast">
			            <span class="icons weatherForecastIcon"></span>
			        </div>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="discription row">
				        <h4>Weather Forecast
				        	<span class="muted-text">(Specially for women)</span>
				        </h4>
				        <p class="mbr-text mbr-fonts-style display-7">Being a designer goes a step further than trying to evoke emotion, it's trying to make a reaction.</p>
				    </div>
				</div>
		    </div>
		</div>
	</div>
</section>