<nav class="navbar navbar-fixed-top dashBoardHeader">
	<div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" id="ChangeToggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#userDetails" aria-expanded="false" aria-controls="navbar">
		  	<div id="navbar-hamburger">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</div>
		    <div id="navbar-close" class="hidden">
	          <span class="glyphicon glyphicon-remove"></span>
	        </div>
		  </button>
		  <a class="navbar-brand refundMeLogo" href="#"><img alt="Refundme India Services" src="assets/images/logo.png"></a>
		</div>
		<div id="userDetails" class="navbar-collapse collapse">
		  	<ul class="nav navbar-nav navbar-right">
			    <li>Last Login: Wednesday, 31 Oct 2018 at 11:30 AM</li>
			    <li><a href="#">Dashboard</a></li>
			    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"><i class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i></a>
			        <ul class="dropdown-menu dropdown-alerts">
			          <li><a href="#">
			              <div><i class="fa fa-envelope fa-fw"></i> Message Sent<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
			          <li class="divider"></li>
			          <li><a href="#">
			              <div><i class="fa fa-tasks fa-fw"></i> New Task<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
			          <li class="divider"></li>
			          <li><a href="#">
			              <div><i class="fa fa-upload fa-fw"></i> Server Rebooted<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
			          <li class="divider"></li>
			          <li><a class="text-center" href="#"><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a></li>
			        </ul>
			        <!-- /.dropdown-alerts-->
			    </li>
			    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a>
			        <ul class="dropdown-menu dropdown-user">
			        	<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
			        	<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
						<li class="divider"></li>
			          	<li><a (click)="vendorlogout()" href="#"><i class="ccc fa fa-sign-out fa-fw"></i> Logout</a></li>
			        </ul>
			        <!-- /.dropdown-user-->
			    </li>
		  	</ul>
		</div>
	</div>
</nav>