<section class="mainSections section bannerContainer">
	<div class="container">
		<h2>Thinking of Flying, Think of refundme.in </h2>
		<div class="col-xs-12 col-sm-12 col-lg-7">
			<div class="descriptionContent">
				<span class="icons clockIconLarge"></span>
				<h3>Special Assistance Services</h3>
				<p>Being a designer goes a step further than trying to evoke emotion, it’s trying to make a reaction.</p>
				<a href="#" class="mainBtn">Submit</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-5 skewedContentBlock">
			<div class="enquiryForm skewedBox">
				<div class="form">
					<form class="form-label form-css-label">
					    <fieldset>
					      <input id="departureAirport" name="departureAirport" type="text" autocomplete="off" required />
					      <label for="departureAirport">Departure Airport <span class="icons enquiryFormIcon depatureAirport"></span></label>
					    </fieldset>
					    <fieldset>
					      <input id="arrivalAirport" name="arrivalAirport" type="text" autocomplete="off" required />
					      <label for="arrivalAirport">Arrival Airport <span class="icons enquiryFormIcon arrivalAirport"></span></label>
					    </fieldset>
					    <fieldset>
					      <input id="flightNumber" name="flightNumber" type="text" autocomplete="off" required />
					      <label for="flightNumber">Flight no <span class="icons enquiryFormIcon flightNumber"></span></label>
					    </fieldset>
					    <fieldset>
					      <input id="date" name="date" type="date" autocomplete="off" required />
					      <label for="date">Date <span class="icons enquiryFormIcon depatureDate"></span></label>
					    </fieldset>
					    <button type="submit" class="mainBtn">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>