<section class="mainSections">
	<div class="col-xs-12">
	    <div class="container-fluid text-center">
	    	<h2 class="mainHeading">Welcome Ram Prasad</h2>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<p>Your Details</p>
			<ul class="list-group text-left">
		    	<li class="list-group-item row">
		        	<div class="col-md-3">Vendor Type</div>
		          	<div class="col-md-9"><strong>CS-Cab Services</strong></div>
		      	</li>
		      	<li class="list-group-item row">
		          	<div class="col-md-3">Vendor Id</div>
		          	<div class="col-md-9"><strong>AA 666</strong></div>
		      	</li>
		      	<li class="list-group-item row">
		          	<div class="col-md-3">First Name</div>
		          	<div class="col-md-9"><strong>Ram</strong></div>
		      	</li>
		  	</ul>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="container-fluid">
				<ul id="myTabs" class="nav nav-pills nav-justified tabsInline" role="tablist" data-tabs="tabs">
					<li class="active"><a href="#today" data-toggle="tab">Today</a></li>
					<li><a href="#yesterday" data-toggle="tab">Yesterday</a></li>
					<li><a href="#week" data-toggle="tab">This Week</a></li>
					<li><a href="#month" data-toggle="tab">This Month</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="today">Commentary WP_Query goes here.</div>
					<div role="tabpanel" class="tab-pane fade" id="yesterday">Videos WP_Query goes here.</div>
					<div role="tabpanel" class="tab-pane fade" id="week">Events WP_Query goes here.</div>
					<div role="tabpanel" class="tab-pane fade" id="month">Events WP_Query goes here.</div>
				</div>
			</div>
		</div>
	</div>
</section>
