<section class="mainSections">
	<div class="col-xs-12">
	    <div class="container-fluid text-center">
	    	<h2 class="mainHeading">Welcome Ram Prasad</h2>
	    	<p>Your Details</p>
	    </div>
	</div>
	<div class="col-xs-12 col-md-12">
		<ul class="list-group text-left">
	    	<li class="list-group-item row">
	        	<div class="col-md-3">Vendor Type</div>
	          	<div class="col-md-9"><strong>CS-Cab Services</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Vendor Id</div>
	          	<div class="col-md-9"><strong>AA 666</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">First Name</div>
	          	<div class="col-md-9"><strong>Ram</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Middle Name</div>
	          	<div class="col-md-9">&nbsp;</div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Last Name</div>
	          	<div class="col-md-9"><strong>Sharma</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Company Name </div>
	          	<div class="col-md-9"><strong>K2 Airport Assistance</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">GSTIN No.</div>
	          	<div class="col-md-9"><strong>K939393</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">PAN No.</div>
	          	<div class="col-md-9"><strong>PAN39393</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Job Title</div>
	          	<div class="col-md-9"><strong>Manager</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Job Title</div>
	          	<div class="col-md-9"><strong>Manager</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Email</div>
	          	<div class="col-md-9"><strong>k2@gmail.com</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Contact No.</div>
	          	<div class="col-md-9"><strong>939393939</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Company Address</div>
	          	<div class="col-md-9"><strong>ss new delhi</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Country Name</div>
	          	<div class="col-md-9"><strong>India</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">State Name</div>
	          	<div class="col-md-9"><strong>Delhi</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">City</div>
	          	<div class="col-md-9"><strong>New Delhi</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Zip Code</div>
	          	<div class="col-md-9"><strong>110062</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">refund.in Business Point of Contact</div>
	          	<div class="col-md-9"><strong>XYZ</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">refund.in Technical Point of Contact</div>
	          	<div class="col-md-9"><strong>XYZ</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Retention period (In months)</div>
	          	<div class="col-md-9"><strong>42</strong></div>
	      	</li>
	      	<li class="list-group-item row">
	          	<div class="col-md-3">Vendor Description</div>
	          	<div class="col-md-9"><strong>Lorem ipsum is simply dummy text</strong></div>
	      	</li>
	  	</ul>
	</div>
</section>
